<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>I ❤️ NFT - Login </title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <header>
        <section class="barra-logo">
            <div class="logo">
                <img src="/images/logo_NFT-logo.png">
            </div>
        </section>
        <section class="menu-header">
            <ul>
                <li href="#"><i class="fas fa-home"></i></li>
                <li href="#">CATEGORÍAS</i></li>
                <li href="#">TOP VENTAS</i></li>
                <li href="#">NUEVOS</i></li>
                <li href="#">RECURSOS</i></li>
            </ul>
        </section>
    </header>

    <main>
        <form action="POST" class="login-form">
          <input class="login-input" type="text" placeholder="Usuario" required minlength="4"/>
          <input class="login-input" type="password" placeholder="Contraseña" required minlength="5"/>

          <button class="login-button" type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          
          <button type="button" class="createuser"><a href="/views/register.html"></a>Crear Usuario</a></button>
        </form>
      </main>

      <footer>
        <div class="nosotros">
            <h4>Sobre Nosotros</h4>
            <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
        </div>
        <div class="accesos-footer">
            <ul>
                <li href="#">Contacto</li>
                <li href="#">Ayuda</li>
                <li href="#">Home</li>
            </ul>
        </div>
    </footer>

</body>
</html>
