<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>I ❤️ NFT </title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <header>
        <section class="barra-logo">
            <div class="logo">
                <img src="/images/logo_NFT-logo.png">
            </div>
            <div class="iconos-barra-logo">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
        <section class="menu-header">
            <ul>
                <li href="#"><i class="fas fa-home"></i></li>
                <li href="#">CATEGORÍAS</i></li>
                <li href="#">TOP VENTAS</i></li>
                <li href="#">NUEVOS</i></li>
                <li href="#">RECURSOS</i></li>
            </ul>
        </section>
    </header>
    
    <main>
        <section class="contenedor-producto">
            <h2>NOMBRE DEL PRODUCTO</h2>
            <div class="detalle-producto">
                <div class="foto-producto"></div>
                <div class="detalle-producto">
                    <h3>TITULO</h3>
                    <p>Detalle del producto</p>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Boton01</button>
                    <button class="boton">Boton02</button>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="nosotros">
            <h4>Sobre Nosotros</h4>
            <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
        </div>
        <div class="accesos-footer">
            <ul>
                <li href="#">Contacto</li>
                <li href="#">Ayuda</li>
                <li href="#">Home</li>
            </ul>
        </div>
    </footer>
   
</body>
</html>