<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>I ❤️ NFT - Login </title>
    <link rel="stylesheet" href="/css/master.css">
</head>
  <body>
    <header>
        <section class="barra-logo">
            <div class="logo">
                <img src="/images/logo_NFT-logo.png">
            </div>
            <div class="iconos-barra-logo">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
        <section class="menu-header">
            <ul>
                <li href="#"><i class="fas fa-home"></i></li>
                <li href="#">CATEGORÍAS</i></li>
                <li href="#">TOP VENTAS</i></li>
                <li href="#">NUEVOS</i></li>
                <li href="#">RECURSOS</i></li>
            </ul>
        </section>
    </header>

<main class="register-body">
    <div class="user-img">
        <label class="header">Profile Photo:</label>
        <div class="foto-perfil"></div>
                <input id="image" type="file" name="profile_photo" placeholder="Foto de perfil" capture>
    </div>

    <div class="user-info">
      <form action="POST" class="login-form">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Nombre"
          minlength="4"
        />
        
        <label for="surname">Apellido</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Apellido"
          minlength="3"
        />

        <label for="date">Fecha de nacimiento</label>
        <input type="date" class="login-input" required />

        <label for="username">Usuario</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Nombre de usuario"
          minlength="5"
        />

        <label for="email">Email</label>
        <i class="fa fa-envelope icon"></i><input type="email" class="login-input" required placeholder="E-mail" />
         
        <label for="psw">Contraseña</label>
        <input
          type="password"
          class="login-input"
          required
          minlength="5"
          placeholder="Contraseña"
        />

        <label for="psw2">Repetir Contraseña</label>
        <input
          type="password"
          class="login-input"
          required
          minlength="5"
          placeholder="Repetir contraseña"
        />

        <button class="login-button" type="submit">Crear cuenta</button>
        <button class="login-button" type="reset">Borrar datos</button>
      </form>
    </div>
    </main>

    <footer>
      <div class="nosotros">
          <h4>Sobre Nosotros</h4>
          <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
      </div>
      <div class="marketplace">
          <h4>Colecciones</h4>
          <ul>
              <li href="#">Artes</li>
              <li href="#">Deportes</li>
              <li href="#">Juegos</li>
              <li href="#">Premiun</li>
          </ul>
      </div>
      

      <div class="my-account">
          <h4>Mi Cuenta</h4>
          <ul>
              <li href="#">Perfil</li>
              <li href="#">Favoritos</li>
              <li href="#">Mis colecciones</li>
              <li href="#">Ajustes de perfil</li>
          </ul>
      </div>

      <div class="contact">
          <h4>Contactanos</h4>
          <a href="http://www.facebook.com/" class="contacto">
              <i class="fab fa-facebook-square"></i></i>Facebook
          </a>
          <a href="http://www.twitter.com/" class="contacto">
              <i class="fab fa-twitter-square"></i>Twitter
          </a>
          <a href="https://www.instagram.com/" class="contacto">
              <i class="fab fa-instagram"></i>Instagram
          </a>
      </div>


      <div class="accesos-footer">
          <h4>Enlaces</h4>
          <ul>
              <li href="#">Soporte</li>
              <li href="#">Centro de ayuda</li>
              <li href="#">Home</li>
          </ul>
      </div>
  </footer>
 
</body>
</html>