
<%- include('./partials/head') %>
<body>
    <header>
        <section class="barra-logo">
            
            <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
            </div>
            
            <div class="logo">
                <img src="/images/logo_NFT-logo.png">
            </div>
            
            <div class="iconos-barra-logo">
                <i class="fas fa-user" href="login.ejs"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
        <section class="menu-header">
            <ul>
                <li href="../Views/home.ejs"><i class="fas fa-home"></i></li>
                <li href="#">CATEGORÍAS</li>
                <li href="#">TOP VENTAS</li>
                <li href="#">NUEVOS</li>
                <li href="#">RECURSOS</li>
            </ul>
        </section>
        <section class="buscador">
            <input type="text" class="caja-buscador" placeholder="Buscador">
            <button type="submit" class="boton-buscador">
                <i class="fa fa-search"></i>
            </button>
        </section>
    </header>
    <main>
        <section class="novedades">
            <section class="carrousel-novedades">
                <div class="flecha"><i class="fas fa-angle-left"></i></div>
                <div class="imagen-novedades"><img src="/images/novedades_01_mono.jpg" alt="imagen-nocedades"></div>
                <div class="flecha"><i class="fas fa-angle-right"></i> </div>
                </section>
                <div class="info-novedades">
                    <div class="texto-novedades"> <p>Explora las diferentes colecciones. Te presentamos el nuevo mercado online de NFT</p></div>
                    <div class="espacio-boton-novedades"><button class="boton-novedades" type="button" >VER MÁS</button></div>
                </div>
        </section>
        <section class="novedades-tablet">
            <div class="flechas-tablet"><i class="fas fa-angle-left"></i></div>
            <div class="novedades-imagen-tablet"><img src="/images/novedades_01_mono.jpg" alt="imagen-nocedades"></div>
            <div class="info-novedades-tablet">
                <div class="info-novedades-tablet-texto"><p>Explora las diferentes colecciones. Te presentamos el nuevo mercado online de NFT</p></div>
                <div class="info-novedades-tablet-boton"><button class="boton-novedades" type="button" >VER MÁS</button></div>
            </div>
            <div class="flechas-tablet"><i class="fas fa-angle-right"></i></div>
        </section>
        <section class="nuevas-obras">
            <h1>Nuevas Obras <i class="fas fa-angle-right"></i> </h1>
                <div class="galeria-obras">
                   <div class="obra-individual">
                    <img src="/images/nuevas-obras-01.jpg">
                    
                  </div>
                    <div class="obra-individual">
                    <img src="/images/nuevas-obras-02.jpg">
                    
                </div>
                    
                    <div class="obra-individual">
                    <img src="/images/nuevas-obras-03.jpg">
                    
                </div>
                    
                    <div class="obra-individual">
                    <img src="/images/nuevas-obras-04.jpg">
                    
                </div>
                </div>
        </section>
        <section class="top-artistas">
            <h1>TOP ARTISTAS <i class="fas fa-angle-right"></i></h1>
            <div class="galeria-top-artistas">
                <div class="artista">
                    <div class ="imagen-artista"><img src="/images/arista-01.jpg"></div>
                    <div class="datos-artista">
                        <h3>Nombre</h3>
                        <p>Actualmente tiene 25 obras a la venta</p>
                    </div>
                </div>
                <div class="artista">
                    <div class ="imagen-artista"><img src="/images/artista-02.jpg"></div>
                    <div class="datos-artista">
                        <h3>Nombre</h3>
                        <p>Actualmente tiene 25 obras a la venta</p>
                    </div>
                </div>
                <div class="artista">
                    <div class ="imagen-artista"><img src="/images/artista-03.jpg"></div>
                    <div class="datos-artista">
                        <h3>Nombre</h3>
                        <p>Actualmente tiene 25 obras a la venta</p>
                    </div>
                </div>
                <div class="artista">
                    <div class ="imagen-artista"><img src="/images/artista-04.png"></div>
                    <div class="datos-artista">
                        <h3>Nombre</h3>
                        <p>Actualmente tiene 25 obras a la venta</p>
                    </div>
                </div>
            </div>
        
        </section>
        
        <section class="top-artistas">
            <h1>Preguntas Frecuentes <i class="fas fa-angle-down"></i></h1>
            <div class="preguntas-frecuentes">
            
            <div clas="pregunta-1">Pregunta 1</div>
            <i class="fas fa-angle-down"></i>
            </div>
            <div class="preguntas-frecuentes">
                <div clas="pregunta-1">Pregunta 1</div>
            <i class="fas fa-angle-down"></i>
            </div>
             <div class="preguntas-frecuentes">    
                <div clas="pregunta-1">Pregunta 2</div>
            <i class="fas fa-angle-down"></i>
            </div>
            <div class="preguntas-frecuentes">
                <div clas="pregunta-1">Pregunta 3</div>
            <i class="fas fa-angle-down"></i>
                
        </div>
        
        </section>
        
    </main>
    <footer>
        <div class="nosotros">
            <h4>Sobre Nosotros</h4>
            <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
        </div>
        <div class="accesos-footer">
            <ul>
                <li href="#">Contacto</li>
                <li href="#">Ayuda</li>
                <li href="#">Home</li>
            </ul>
        </div>
    </footer>
   
</body>
</html>