<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="produc1">

            <img src="/images/bored.png" alt="">
            <div class="precio">
                <usd1> $8990</usd1>
            </div>
            <div class="comprar">
                <h2>Comprar</h2>
            </div>
            <div class="trash">
                <i class="fas fa-trash-alt"></i>
             </div>

        </div>
        <br>
        <br>

        <div class="produc2">

            <img src="/images/dogbro.png" alt="">
            <div class="precio">
                <usd1> $2800</usd1>

            </div>
            <div class="comprar">
                <h2>Comprar</h2>
            </div>
            <div class="trash">
               <i class="fas fa-trash-alt"></i>
            </div>

        </div>
        <br>
        <br>

        <div class="produc3">

            <img src="/images/monomomia.png" alt="">
            <div class="precio">
                <usd1> $6760</usd1>

            </div>
            <div class="comprar">
                <h2>Comprar</h2>
            </div>
            <div class="trash">
                <i class="fas fa-trash-alt"></i>
             </div>

        </div>

        <br>
        <br>

        <div class="produc4">

            <img src="/images/wtf.png" alt="">
            <div class="precio">

                <usd1> $4560</usd1>

            </div>
            <div class="comprar">
                <h2>Comprar</h2>
            </div>
            <div class="trash">
                <i class="fas fa-trash-alt"></i>
             </div>

        </div>








    </main>

    <%- include('./partials/footer') %>

</body>

</html>