<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/detail.css">
    
    <main>
        <section class="contenedor-producto">
            <h2>Saint Ape</h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/nuevas-obras-01.jpg"></div>
                <div class="detalle-producto">
                    <br><h3>Saint Ape</h3><br>
                    <h4>Detalle del producto</h4>
                    <p>Collecci贸n Ape</p>
                    <p>Valuado en 0.05 ETH</p><br>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div>
            </div><br>


            <h2>Flower Vader</h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/nuevas-obras-03.jpg"></div>
                <div class="detalle-producto">
                    <br><h3>Flower Vader</h3><br>
                    <h4>Detalle del producto</h4>
                    <p>Collecci贸n Vader</p>
                    <p>Valuado en 0.15 ETH</p><br>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div>
            </div><br>

            <h2>Casual Ape</h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/nuevas-obras-02.jpg"></div>
                <div class="detalle-producto">
                    <br><h3>Casual Ape</h3><br>
                    <h4>Detalle del producto</h4>
                    <p>Collecci贸n Ape</p>
                    <p>Valuado en 0.03 ETH</p><br>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div>
            </div><br>

            
            <h2>Color Jordan</h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/nuevas-obras-04.jpg"></div>
                <div class="detalle-producto">
                    <br><h3>Color Jordan</h3><br>
                    <h4>Detalle del producto</h4>
                    <p>Collecci贸n Jordan</p>
                    <p>Valuado en 0.5 ETH</p><br>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div><br>
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer') %>
   
</body>
</html>