<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

<main class="register-body">
    <div class="user-img">
        <label class="header">Profile Photo:</label>
        <div class="foto-perfil"></div>
                <input id="image" type="file" name="profile_photo" placeholder="Foto de perfil" capture>
    </div>

    <div class="user-info">
      <form action="POST" class="login-form">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Nombre"
          minlength="4"
        />
        
        <label for="surname">Apellido</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Apellido"
          minlength="3"
        />

        <label for="date">Fecha de nacimiento</label>
        <input type="date" class="login-input" required />

        <label for="username">Usuario</label>
        <input
          type="text"
          class="login-input"
          required
          placeholder="Nombre de usuario"
          minlength="5"
        />

        <label for="email">Email</label>
        <i class="fa fa-envelope icon"></i><input type="email" class="login-input" required placeholder="E-mail" />
         
        <label for="psw">Contrase単a</label>
        <input
          type="password"
          class="login-input"
          required
          minlength="5"
          placeholder="Contrase単a"
        />

        <label for="psw2">Repetir Contrase単a</label>
        <input
          type="password"
          class="login-input"
          required
          minlength="5"
          placeholder="Repetir contrase単a"
        />

        <button class="login-button" type="submit">Crear cuenta</button>
        <button class="login-button" type="reset">Borrar datos</button>
      </form>
    </div>
    </main>

    <%- include('./partials/footer') %>
 
</body>
</html>