<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="register-body">
        <% if (locals.errors) { %>

          <% for( let oneError in errors) { %>
            <p>
              <%= errors [oneError].msg %>
            </p>
            <% } %>
              <% } %>

                <div class="user-info">
                  <form action="/user/register" method="post" enctype='multipart/form-data' class="login-form">
                    
                    <label for="name">Nombre</label>
                    <input name="name" type="text" class="login-input" required placeholder="Nombre" minlength="4" > 
                    <% if (locals.errors && errors.name) { %>
                      <div class="text-danger">
                        <% errors.name.msg %> 
                      </div>
                      <% } %>
                      
                    <br>
                    <label for="surname">Apellido</label>
                    <input name="surname" type="text" class="login-input" required placeholder="Apellido"
                      minlength="3" />
                    <br>
                    <label for="date">Fecha de nacimiento</label>
                    <input name="date" type="date" class="login-input" required />
                    <br>
                    <label for="username">Usuario</label>
                    <input name="username" type="text" class="login-input" required placeholder="Nombre de usuario"
                      minlength="5" />
                    <br>
                    <label for="email">Email</label>
                    <i class="fa fa-envelope icon"></i><input name="email" type="email" class="login-input" required
                      placeholder="E-mail" />
                    <br>
                    <label for="psw">Contrase単a</label>
                    <input name="password" type="password" class="login-input" required minlength="5"
                      placeholder="Contrase単a" />
                    <br>
                    <label for="psw2">Repetir Contrase単a</label>
                    <input type="password" class="login-input" required minlength="5"
                      placeholder="Repetir contrase単a" />
                    <br>
                    <div class="user-img">
                      <label class="header">Foto de perfil:</label>
                      <div class="foto-perfil"></div>
                      <input type="file" name="image" placeholder="Foto de perfil" capture>
                    </div>

                    <button class="login-button" type="submit">Crear cuenta</button>
                    <br>
                    <button class="login-button" type="reset">Borrar datos</button>
                  </form>
                </div>
      </main>

      <%- include('./partials/footer') %>

  </body>

  </html>