<footer>
    <div class="nosotros">
        <h4>Sobre Nosotros</h4>
        <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
    </div>
    <div class="accesos-footer">
        <ul>
            <li href="#">Contacto</li>
            <li href="#">Ayuda</li>
            <li href="#">Home</li>
        </ul>
    </div>
</footer>