<footer>
    <div class="nosotros">
        <h4>Sobre Nosotros</h4>
        <p>I ❤️ NFT es un E-comerce pensado para todas aquellas personas que quieran adquirir un NFT a modo de inversión, colección, o simplemente apreciar lo que ofrece el mercado. </p>
    </div>
    <div class="marketplace">
        <h4>Colecciones</h4>
        <ul>
            <li href="#">Artes</li>
            <li href="#">Deportes</li>
            <li href="#">Juegos</li>
            <li href="#">Premiun</li>
        </ul>
    </div>
    

    <div class="my-account">
        <h4>Mi Cuenta</h4>
        <ul>
            <li href="#">Perfil</li>
            <li href="#">Favoritos</li>
            <li href="#">Mis colecciones</li>
            <li href="#">Ajustes de perfil</li>
        </ul>
    </div>

    <div class="contact">
        <h4>Contactanos</h4>
        <a href="http://www.facebook.com/" class="contacto">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="http://www.twitter.com/" class="contacto">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.instagram.com/" class="contacto">
            <i class="fab fa-instagram"></i>
        </a>
    </div>


    <div class="accesos-footer">
        <h4>Enlaces</h4>
        <ul>
            <li href="#">Soporte</li>
            <li href="#">Centro de ayuda</li>
            <li href="#">Home</li>
        </ul>
    </div>
</footer>