<header>
    <section class="barra-logo">
        
        <div class="menu-hamburguesa">
        <i class="fas fa-bars"></i>
        </div>
        
        <div class="logo">
            <img src="/images/logo_NFT-logo.png">
        </div>
        
        <div class="iconos-barra-logo">
            <i class="fas fa-user" href="../login.ejs"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </section>
    <section class="menu-header">
        <ul>
            <li href="../home.ejs"><i class="fas fa-home"></i></li>
            <li href="#">CATEGORÍAS</li>
            <li href="#">TOP VENTAS</li>
            <li href="#">NUEVOS</li>
            <li href="#">RECURSOS</li>
        </ul>
    </section>
    <section class="buscador">
        <input type="text" class="caja-buscador" placeholder="Buscador">
        <button type="submit" class="boton-buscador">
            <i class="fa fa-search"></i>
        </button>
    </section>
</header>