<header>
    <section class="barra-logo">
        
        <div class="menu-hamburguesa">
        <i class="fas fa-bars"></i>
        </div>
        
        <div class="logo">
            <a href="/">
            <img src="/images/logo_NFT-logo.png">
          </a>
        </div>
        
        <div class="iconos-barra-logo">
<<<<<<< HEAD
            <i class="fas fa-user" href="../login.ejs"></i>
=======
            <a href="/"> <i class="fas fa-user"></i></a>
>>>>>>> 4e24d6e5921db9f49b56d26b35be4038389d33f2
            <i class="fas fa-shopping-cart"></i>
        </div>
    </section>
    <section class="menu-header">
        <ul>
            <li href="/"><i class="fas fa-home"></i></li>
            <li href="#">CATEGORÍAS</li>
            <li href="#">TOP VENTAS</li>
            <li href="#">NUEVOS</li>
            <li href="#">RECURSOS</li>
        </ul>
    </section>
    <section class="buscador">
        <input type="text" class="caja-buscador" placeholder="Buscador">
        <button type="submit" class="boton-buscador">
            <i class="fa fa-search"></i>
        </button>
    </section>
</header>